@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500&display=swap");

* {
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

.translation-container {
  position: absolute;
  bottom: 30px;
  font-size: 70px;
  word-spacing: 20px;
  line-height: 2;
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  // letter-spacing: 4px;
}

.buttons {
  z-index: 1000;
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-family: "Roboto Mono", monospace;
}

// .start-button {
//   padding: 3px 10px;
//   background-color: white;
//   border-radius: 2px;
//   font-size: 14px;
//   color: black;
//   font-family: "Roboto Mono", monospace;
// }
