:root {
  --background-color: #fff;
  --foreground-color: #212529;
}

body {
  background-color: var(--background-color);
  color: var(--foreground-color);
}

// sidebar related
#sidebar {
  background-color: var(--background-color);
  color: var(--foreground-color);
  position: fixed;
  top: 0;
  left: -250px;
  height: 100%;
  width: 250px;
  z-index: 1000;
  transition: left 350ms ease-in-out;

  select {
    font-size: 16px;
  }
}

#sidebar-toggler {
  position: fixed;
  left: 30px;
  top: 50%;
  z-index: 1000;
  transform: translateY(-50%);
  transition: transform 300ms ease-in-out, left 300ms ease-in-out;
}

// mic icon related
.mic {
  position: fixed;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  transition: opacity 500ms ease-in-out;
}

#mic-on::after {
  content: "";
  position: absolute;
  left: -12px;
  top: -6px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: crimson;
  animation: mic-recording 1s ease-in-out infinite alternate;
}

@keyframes mic-recording {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 0.3;
  }
}

#main-content {
  background-color: var(--background-color);
  color: var(--foreground-color);
  position: relative;

  #blur {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    transition: backdrop-filter 350ms ease-in-out;
  }
}

// utility classes
.hide {
  opacity: 0;
}
